<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Video Downloader</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="row justify-content-center"></div>
        <div class="col-md-6">
          <div class="card mt-5 shadow">
            <div class="card-body">
              <h1 class="card-title text-center mb-4">Bem-vindo ao Web Video Downloader</h1>
                <form action="{{ url_for('downloads.downloads') }}" method="post"></form>
                <div class="mb-3">
                  <label for="url" class="form-label">URL do vídeo:</label>
                  <input type="text" class="form-control" id="url" name="url" required placeholder="Cole a URL do vídeo aqui" />
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-lg">Baixar</button>
                </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
